<div class="pageturn pagerright">
    <ul class="pagelist">
         {% if page_datas.has_previous %}
             <li class="long"><a href="?{{ page_datas.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; 上一页</a></li>
         {% endif %}

         {% for page in page_datas.pages %}
              {% if page %}
                   {% ifequal page page_datas.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                   {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                   {% endifequal %}
              {% else %}
                   <li class="none"><a href="" >...</a></li>
              {% endif %}
         {% endfor %}

         {% if page_datas.has_next %}
              <li class="long"> <a href="?{{ page_datas.next_page_number.querystring }}" class="next">下一页 &rsaquo;&rsaquo;</a></li>
         {% endif %}
    </ul>
</div>